<h1>StaticPages#weight</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
  <div class="span6 offset3">
	<%= link_to "W1 weights", w1_index_path %>
  </div>

   <%= form_for(:aircraft, url: w1_index_path) do |f| %>

      <%= f.label :reg %>
      <%= f.text_field :reg %>

      <%= f.submit "Get Aircraft", class: "btn btn-large btn-primary" %>
    <% end %>

<%= link_to "Sign out", signout_path, method: "delete" %>