<div id="page_3">
	<div class="row">
		<div class="col-sm-7 col-sm-offset-1" id="area1">
		</div>
		<div class="col-sm-3 col-sm-offset-1" id="area2">
			<table class="table table-bordered">
				<tr class="info">
					<td>
						<p>Date</p>
					</td>
					<td>
						<p>Description</p>
					</td>
					<td>
						<p>Weight</p>
					</td>
					<td>
						<p>Arm</p>
					</td>
					<td>
						<p>Moment</p>
					</td>
					<td>
						<p>WCA</p>
					</td>
				</tr>

				<% @w1s.each do |w1| %>
				<tr>
					<td>
						<%= w1.date %>
					</td>
					<td>
						<%= w1.desc%>
					</td>
					<td>
						<%= w1.wt %>
					</td>
					<td>
						<%= w1.arm %>
					</td>
					<td>
						<%= w1.moment %>
					</td>
					<td>
						<%= w1.wca %>
					</td>
				</tr>
				<% end %>
				<% @w1c1s.each do |w1c1| %>
				<tr>
					<td>
						<%= w1c1.date %>
					</td>
					<td>
						<%= w1c1.desc%>
					</td>
					<td>
						<%= w1c1.wt %>
					</td>
					<td>
						<%= w1c1.arm %>
					</td>
					<td>
						<%= w1c1.moment %>
					</td>
					<td>
						<%= w1c1.wca %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>