<h1>Specific W1s</h1>

<ul class="users">
  <% @w1.each do |w1| %>
    <li>
       		<%= link_to w1.date, w1 %>
		      <%= link_to w1.desc, w1 %>
		      <%= link_to w1.wt, w1 %>
		      <%= link_to w1.arm, w1 %>
		      <%= link_to w1.moment, w1 %>
		      <%= link_to w1.wca, w1 %>
    </li>
  <% end %>
</ul>